@import "../../common/variables";
#sidebar_service{
ul {
    padding: 20px;
    li {
      height: fit-content;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 10px 0;
      line-height: 1.5;
      a {
        color: #454545;
        transition: all 0.5s;
        text-transform: capitalize;
        &:hover {
          color: #007bff;
        }
      }
    }
  }
}